In [1]:
from utils.CaImageCSV import CaImageCSV

In [2]:
csv = CaImageCSV('./resources/ID181106CreA_Longitudinal_Traces.csv')

/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [3]:
a = csv.filtered_by_context('HC2')
a

                  C000      C001      C002      C003      C004      C005  \
1   2
HC2 1456.185  23.40221  18.30776  16.38554  117.8552  7.017669  22.18379
NaN 1456.285  21.35612  16.70253  14.77743  105.7498  6.410332  20.08984
    1456.385  27.63065  15.23804  13.32715  94.88789   5.85539  25.90884
    1456.485   41.1563  13.90195   12.0192  85.14159  5.348323  23.46328
    1456.585  37.56752  12.68301  10.83962  76.39635  4.885001  21.24856
...                ...       ...       ...       ...       ...       ...
    2066.685  30.19063  10.69348         0  7.982697  40.27322  24.93776
    2066.785  40.08604  9.755848         0  7.162673  36.79691  31.25593
    2066.885  36.59026  8.900427         0  6.426878  33.62049  28.30566
    2066.985  33.39823  8.120005         0  5.766658  30.71811  25.63386
HC2 2067.085  30.48356  7.408009         0  5.174252  28.06612  23.21426

                  C006      C007      C008      C009  ...  C773  C774  C775  \
1   2                                                 ...
HC2 1456.185  19.93862   37.3078  22.48633  17.80719  ...   nan   nan   nan
NaN 1456.285  18.37292  42.27759  20.14202  15.74402  ...   nan   nan   nan
    1456.385  16.93017  38.34389  18.04176  13.91961  ...   nan   nan   nan
    1456.485  15.60071  34.77502  16.16015  24.83253  ...   nan   nan   nan
    1456.585  14.37565  38.22731  14.47444  21.95634  ...   nan   nan   nan
...                ...       ...       ...       ...  ...   ...   ...   ...
    2066.685  19.86508  58.58101  30.43721  34.23499  ...   nan   nan   nan
    2066.785  18.30516  59.55898  27.26516   37.1628  ...   nan   nan   nan
    2066.885  16.86773  67.10181  24.42334  41.54234  ...   nan   nan   nan
    2066.985  15.54318  60.86576  21.87737  36.73239  ...   nan   nan   nan
HC2 2067.085  14.32263  55.20807  19.59645  32.47908  ...   nan   nan   nan

              C776  C777  C778  C779  C780  C781  C782
1   2
HC2 1456.185   nan   nan   nan   nan   nan   nan   nan
NaN 1456.285   nan   nan   nan   nan   nan   nan   nan
    1456.385   nan   nan   nan   nan   nan   nan   nan
    1456.485   nan   nan   nan   nan   nan   nan   nan
    1456.585   nan   nan   nan   nan   nan   nan   nan
...            ...   ...   ...   ...   ...   ...   ...
    2066.685   nan   nan   nan   nan   nan   nan   nan
    2066.785   nan   nan   nan   nan   nan   nan   nan
    2066.885   nan   nan   nan   nan   nan   nan   nan
    2066.985   nan   nan   nan   nan   nan   nan   nan
HC2 2067.085   nan   nan   nan   nan   nan   nan   nan

[6110 rows x 767 columns]

In [4]:
CaImageCSV.optimize_std(a)

/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value
/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

                  C000      C001      C002      C003      C004      C005  \
1   2
HC2 1456.185  0.512596  1.198328  0.282031  5.105268  0.242171  1.245990
NaN 1456.285  0.467779  1.093258  0.254352  4.580884  0.221212  1.128380
    1456.385  0.605214  0.997401  0.229390  4.110367  0.202062  1.455214
    1456.485  0.901476  0.909947  0.206877  3.688175  0.184564  1.317855
    1456.585  0.822869  0.830162  0.186574  3.309348  0.168575  1.193462
...                ...       ...       ...       ...       ...       ...
    2066.685  0.661287  0.699938  0.000000  0.345796  1.389777  1.400672
    2066.785  0.878034  0.638566  0.000000  0.310274  1.269814  1.755543
    2066.885  0.801463  0.582574  0.000000  0.278400  1.160200  1.589836
    2066.985  0.731546  0.531492  0.000000  0.249801  1.060042  1.439770
HC2 2067.085  0.667704  0.484889  0.000000  0.224139  0.968526  1.303869

                  C006      C007      C008      C009  ...  C773  C774  C775  \
1   2                                                 ...
HC2 1456.185  0.394044  1.014793  0.916938  1.589575  ...   NaN   NaN   NaN
NaN 1456.285  0.363101  1.149974  0.821343  1.405404  ...   NaN   NaN   NaN
    1456.385  0.334588  1.042975  0.735699  1.242546  ...   NaN   NaN   NaN
    1456.485  0.308314  0.945900  0.658972  2.216698  ...   NaN   NaN   NaN
    1456.585  0.284104  1.039804  0.590233  1.959952  ...   NaN   NaN   NaN
...                ...       ...       ...       ...  ...   ...   ...   ...
    2066.685  0.392591  1.593436  1.241156  3.056017  ...   NaN   NaN   NaN
    2066.785  0.361762  1.620037  1.111807  3.317370  ...   NaN   NaN   NaN
    2066.885  0.333354  1.825206  0.995925  3.708314  ...   NaN   NaN   NaN
    2066.985  0.307177  1.655582  0.892106  3.278950  ...   NaN   NaN   NaN
HC2 2067.085  0.283056  1.501690  0.799096  2.899274  ...   NaN   NaN   NaN

              C776  C777  C778  C779  C780  C781  C782
1   2
HC2 1456.185   NaN   NaN   NaN   NaN   NaN   NaN   NaN
NaN 1456.285   NaN   NaN   NaN   NaN   NaN   NaN   NaN
    1456.385   NaN   NaN   NaN   NaN   NaN   NaN   NaN
    1456.485   NaN   NaN   NaN   NaN   NaN   NaN   NaN
    1456.585   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...            ...   ...   ...   ...   ...   ...   ...
    2066.685   NaN   NaN   NaN   NaN   NaN   NaN   NaN
    2066.785   NaN   NaN   NaN   NaN   NaN   NaN   NaN
    2066.885   NaN   NaN   NaN   NaN   NaN   NaN   NaN
    2066.985   NaN   NaN   NaN   NaN   NaN   NaN   NaN
HC2 2067.085   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[6110 rows x 767 columns]

In [26]:
context_level = csv.data_frame.index.get_loc_level(key='A2_2', level=0, drop_level=False)[0]
print(context_level)
print(type(context_level))

[False False False ... False False False]
<class 'numpy.ndarray'>

In [30]:
import numpy as np
indexes = np.where(context_level)[0]
print(indexes)

# indexes = csv.data_frame[context_level].index
# print(indexes)
# print(indexes.lexsort_depth)
# indexes = indexes.sortlevel(level=1)[0]
# print(indexes)

[32602 35695]

In [31]:
print(indexes[-1])
print(indexes[0])

35695
32602

In [32]:
a = csv.data_frame.sort_index(axis=0, level=[2, 1])

In [33]:
a.iloc[indexes[0]:(indexes[-1] + 1), :]

                     C030      C037  C048      C051      C067  C073  C078  \
1    2
A2_2 165987.201     99.02  105.8578   nan  36.38285  132.7897   nan   nan
NaN  165987.301  99.65808  94.14513   nan  33.30422  121.6601   nan   nan
     165987.401   90.5708  83.71982   nan  30.47994  111.4613   nan   nan
     165987.501  82.30967  109.1857   nan  27.88899   117.694   nan   nan
     165987.601  74.79958  97.10725   nan  25.51211  122.7304   nan   nan
...                   ...       ...   ...       ...       ...   ...   ...
     166296.101   132.867  106.6966   nan  159.3133  126.6351   nan   nan
     166296.201  120.7606  126.7255   nan  146.0784  116.0202   nan   nan
     166296.301  109.7548  157.1653   nan  168.1786   106.293   nan   nan
     166296.401  99.74963  139.8134   nan   185.859  97.37926   nan   nan
A2_2 166296.501  90.65403  124.3687   nan   170.431  89.21093   nan   nan

                     C113        C121      C125  ...  C768  C771  C773  C774  \
1    2                                           ...
A2_2 165987.201  65.62341  0.05347443  152.4567  ...   nan   nan   nan   nan
NaN  165987.301  71.53906  0.02515221  140.8232  ...   nan   nan   nan   nan
     165987.401  64.79585           0  130.0744  ...   nan   nan   nan   nan
     165987.501  116.9091    44.32496  120.1428  ...   nan   nan   nan   nan
     165987.601  105.9795    39.34134  110.9664  ...   nan   nan   nan   nan
...                   ...         ...       ...  ...   ...   ...   ...   ...
     166296.101  142.3008    60.93541  54.25639  ...   nan   nan   nan   nan
     166296.201  144.1979    54.09259  50.08984  ...   nan   nan   nan   nan
     166296.301  153.5241    48.01569  46.24013  ...   nan   nan   nan   nan
     166296.401  139.2161    42.61897  73.44583  ...   nan   nan   nan   nan
A2_2 166296.501  126.2283     37.8263  88.05803  ...   nan   nan   nan   nan

                 C775  C776  C777  C778  C779  C780
1    2
A2_2 165987.201   nan   nan   nan   nan   nan   nan
NaN  165987.301   nan   nan   nan   nan   nan   nan
     165987.401   nan   nan   nan   nan   nan   nan
     165987.501   nan   nan   nan   nan   nan   nan
     165987.601   nan   nan   nan   nan   nan   nan
...               ...   ...   ...   ...   ...   ...
     166296.101   nan   nan   nan   nan   nan   nan
     166296.201   nan   nan   nan   nan   nan   nan
     166296.301   nan   nan   nan   nan   nan   nan
     166296.401   nan   nan   nan   nan   nan   nan
A2_2 166296.501   nan   nan   nan   nan   nan   nan

[3094 rows x 767 columns]